# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# PyCharm
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Python cache
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
.cache

# pytest
.pytest_cache/

# MyPy / Pylint / Pyright
.mypy_cache/
.pylint.d/
.pyre/

# Poetry lock file
poetry.lock
